[user]
  email = paul@paul.cx
  name = Paul Adenot
[color]
  ui = auto
[push]
  default = simple
[core]
  editor = nvim
  pager = less -+F
[alias]
  co = checkout
  cob = checkout -b
  dif = diff
  staged = diff --staged
  dif = diff
